<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
      <h2 class="heading-section">Table #07</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-wrap">
        <table class="rounded table  table-dark table-hover ">
          <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Salario</th>
              <th>Bonus</th>
              <th>Genero</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let seller of sellersList">
              <td>{{seller.id}}</td>
              <td>{{seller.name}}</td>
              <td>{{seller.salary}}</td>
              <td>{{seller.bonus}}</td>
              <td>{{seller.gender}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
