<!--Este e o componente pai do formulario-->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
      <h2 class="heading-section">Todos os Vendedores</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-wrap">
        <table class="rounded table table-dark table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Salario</th>
              <th>Bonus</th>
              <th>Genero</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let seller of sellersList">
              <td>{{ seller.id }}</td>
              <td>{{ seller.name }}</td>
              <td>{{ seller.salary | currency : "BRL" }}</td>
              <td>{{ seller.bonus | percent }}</td>
              <td>{{ seller.gender | gender }}</td>
              <td>
               <i class="bi bi-pencil me-4"></i>
                <i class="bi bi-trash3"></i>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex row justify-content-center mt-3 " *ngIf="!showForm">
    <button class="btn btn-secondary col-2" (click)="showForm = true">
      Novo Vendedor
     <i class="bi bi-plus-circle ms-3" style="font-size: 1.3rem"></i>

    </button>
  </div>
  <div *ngIf="showForm">
    <button class="btn btn-secondary" (click)="closeForm()">Fechar  </button>
    <app-seller-form (saveEmitter)="loadSellers($event)"></app-seller-form>
</div>

</div>


