<div class="container col-6">
  <form [formGroup]="formGroupSellers" #ngFormSellers="ngForm">
    <div class="mb-3 row">
      <div class="offset-3 col-6">
        <label for="nome" class="form-label">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          formControlName="name"
          [ngClass]="{
            'is-invalid': ngFormSellers.submitted && sfgName?.errors,
            'border-danger': ngFormSellers.submitted && sfgName?.errors,
          }"
        />

        <div *ngIf="ngFormSellers.submitted">
          <small
            *ngIf="sfgName?.errors?.['required']"
            class="form-text text-danger"
            >*Nome é requirido</small
          >
          <small
            *ngIf="sfgName?.errors?.['minlength']"
            class="form-text text-danger"
            >*Tamanho minimo 5 caracteres</small
          >
        </div>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="offset-3 col-6">
        <label for="nome" class="form-label">Salario</label>
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend1">$</span>
          <input
            type="number"
            class="form-control"
            id="salary"
            formControlName="salary"
            [ngClass]="{
              'is-invalid': ngFormSellers.submitted && sfgSalary?.errors,
              'border-danger': ngFormSellers.submitted && sfgSalary?.errors
            }"
          />
        </div>
        <div *ngIf="ngFormSellers.submitted">
          <small
            *ngIf="sfgSalary?.errors?.['required']"
            class="form-text text-danger"
            >*Salario é requirido</small
          >
        </div>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="offset-3 col-6">
        <div class="mb-3">
          <label for="sobrenome" class="form-label">Bonus</label>
          <div class="input-group">
            <span class="input-group-text" id="inputGroupPrepend2">%</span>
            <input
              type="number"
              class="form-control"
              id="bonus"
              formControlName="bonus"
              [ngClass]="{
                'is-invalid': ngFormSellers.submitted && sfgBonus?.errors,
                'border-danger': ngFormSellers.submitted && sfgBonus?.errors
              }"
            />
          </div>
        </div>

        <div *ngIf="ngFormSellers.submitted">
          <small
            *ngIf="sfgBonus?.errors?.['required']"
            class="form-text text-danger"
            >*Bonus é requirido</small
          >
        </div>
      </div>
    </div>

    <div class="mb-3 d-flex flex-row">
      <div class="offset-3 mb-3 col-3">
        <label for="genero" class="form-label">Gênero</label>
        <select
          class="form-select"
          id="genero"
          name="genero"
          formControlName="gender"
          required
          [ngClass]="{
            'is-invalid': ngFormSellers.submitted && sfgGender?.errors,
            'border-danger': ngFormSellers.submitted && sfgGender?.errors
          }"
        >
          <option value="" disabled selected>Escolha um</option>
          <option value="1">Masculino</option>
          <option value="2">Feminino</option>
        </select>

        <div *ngIf="ngFormSellers.submitted">
          <small
            *ngIf="sfgGender?.errors?.['required']"
            class="form-text text-danger"
            >*Genero é requirido</small
          >
        </div>
      </div>

      <button
        type="submit"
        class="offset-2 btn btn-primary col-4 p-1 align-items-center"
        (click)="save()"
      >
        Enviar
      </button>
    </div>
  </form>
</div>


<ng-template #successModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Sucesso!</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body text-center">
    <i class="bi bi-check-circle-fill text-success" style="font-size: 4rem;"></i>
    <p class="mt-3">O vendedor foi salvo com exito e nenhum problema foi encontrado.</p>
  </div>
</ng-template>
