<div class="container col-6">
  <form [formGroup]="formGroupSellers">
    <div class="mb-3 row">
      <div class="col-6">
        <label for="nome" class="form-label">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          formControlName="name"
        />
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-6">
        <label for="nome" class="form-label">Salario</label>
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend1">$</span>
          <input
            type="number"
            class="form-control"
            id="salary"
            formControlName="salary"
          />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="sobrenome" class="form-label">Bonus</label>
          <div class="input-group">
            <span class="input-group-text" id="inputGroupPrepend2">%</span>
            <input
              type="number"
              class="form-control"
              id="bonus"
              formControlName="bonus"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3 col-3">
      <label for="genero" class="form-label">Gênero</label>
      <select
        class="form-select"
        id="genero"
        name="genero"
        formControlName="genero"
        [(ngModel)]="seller.gender"
      >
        <option value="1">Masculino</option>
        <option value="2">Feminino</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary col-4"  (click)="save()">
      Enviar
    </button>
  </form>
</div>
