<div class="container-sm mt-5">
  <div class="row p-5">
    <div class="col-md-5 d-flex  flex-md-column justify-content-evenly align-items-center mb-2">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" height="48" width="48" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" height="48" width="48" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" height="48" width="48" />
    </div>
    <div class="col-md-6 flex-md-row flex-md-column mt-3 border rounded p-4">
      <h1>Projeto Seller</h1>
      <p class="mt-4">
        Bem-vindo ao Projeto Sellers! Aqui, combinei as poderosas tecnologias
        de Angular para o front-end e Java com Spring Boot para o back-end, com
        o objetivo de criar uma aplicação eficiente e dinâmica. Meu projeto é
        um CRUD (Create, Read, Update, Delete) para o banco de dados H2.
      </p>
    </div>
  </div>
</div>
