<nav class="navbar  navbar-expand-sm bg-dark border-bottom border-bottom-dark" >
  <div class="container-fluid">
    <a class="navbar-brand ms-3" href="#">Sellers</a>
    <i class="fa fa-facebook"></i>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav text-center">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Vendedores</a>
      </div>
    </div>
  </div>
</nav>
